{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- <div class="content-center"> -->
  <!-- <h2><pre>&lt;&gt; This page is under construction. &lt;&#47;&gt;</pre></h2> -->
  <h4>Welcome to my site. This is a showcase of some ot the work I'm most proud of,
    including MedBot - an AI chatbot that tells you if the drugs you're taking have
    any adverse reactions and my architecture portfolio - a blast from the past.
    Please note that this site is currently under construction, I plan to add more
    content soon including more current school work, projects etc. That should be
    done before the new year, so please check back!
    </h4>
<!-- </div> -->
{% endblock %}
