{% extends 'base.html' %}

{% load static %}

{% block title %}
Welcome - Oliver Whittlef
{% endblock %}

{% block content %}
<div class="content-center">
<img src="{% static 'headshot.jpg' %}" style="height:500px; margin-bottom:3em;" alt="Headshot">
</div>
  <h4>
    Welcome to my personal site.
    I am a developer and tech enthusiast from Minneapolis, MN.
    I'm currently pursuing a degree in Computer Science at the University of Minnesota.
    This site is a portfolio of some of my proudest work, including coding experience and examples.
    I have also put up some hobby projects, such as MedBot - an AI chatbot that will tell you if any of the drugs you're taking have adverse rections, and some examples of architectural designs that I created.
  </h4>
{% endblock %}
