  $theme-primary: #007bff;;
  $theme-secondary: #000;
  $theme-background: #F8F9FA;
  $theme-hover: #0069d9;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
main {
  width: 100%;
  min-height: 100%;
}
div.header {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  background: $theme-background;
}
div.header .title {
  color: $theme-secondary;
  cursor: pointer;
}
div.header .title:hover {
  color: $theme-hover;
  text-decoration: none;
}
div.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
.text-nav {
  font-size: 1.5em;
  color: $theme-secondary;
  cursor: pointer;
}
.text-nav:hover {
  color: $theme-secondary;
  text-decoration: none;
}
ul.menu {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul.menu li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: $theme-primary;
  color: $theme-secondary;
}
ul.menu li:hover {
  color: $theme-primary;
  background: $theme-hover;
}
ul.menu a {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: $theme-secondary;
}
div.content-wrapper {
  width: 100%;
  margin: 3em 0;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
div.content {
  width: 100%;
  max-width: 1000px;
}
div.content-center {
  width: 100%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
.parallax {
  min-height: 500px;
  background-color: $theme-background;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div.footer-wrap {
  // implement a hack for content min width
}
div.footer {
  width: 100%;
  padding: 0 25%;
  min-width: 350px;
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  vertical-align: middle;
  background: $theme-background;
}
div.footer .text-nav:hover {
  color: $theme-hover;
}
